/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use "../../node_modules/@cloudscape-design/design-tokens/index.scss" as awsui;
@use "../internal/shared" as shared;

.root {
  @include shared.styles-reset;
}

@keyframes searchbar {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}
@keyframes searchbar-rtl {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.variant-gen-ai,
.variant-gen-ai-masked {
  block-size: 2px;
  background: awsui.$color-background-loading-bar-gen-ai;
  background-size: 200% 100%;
  background-position: 0 100%;

  @include shared.with-motion {
    animation:
      searchbar 3s cubic-bezier(0, 0.08, 1, 0.82) infinite forwards,
      awsui.$motion-keyframes-fade-in awsui.$motion-duration-complex awsui.$motion-easing-expressive;
  }

  /* stylelint-disable no-descending-specificity */
  &:dir(rtl) {
    background-position: -100% 100%;
    @include shared.with-motion {
      animation:
        searchbar-rtl 3s cubic-bezier(0, 0.08, 1, 0.82) infinite forwards,
        awsui.$motion-keyframes-fade-in awsui.$motion-duration-complex awsui.$motion-easing-expressive;
    }
  }
}

.variant-gen-ai-masked {
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    transparent 3%,
    black 30%,
    black 70%,
    transparent 97%,
    transparent 100%
  );
}
