/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

/*
  Spinner animations do not follow our general motion configuration, we need to disable them explicitly to get stable
  screenshot testing results
*/
.no-animation {
  *,
  *:before,
  *:after {
    animation: none !important;
    transition: none !important;
  }
}
