/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use "../internal/shared" as shared;

.root {
  @include shared.styles-reset;

  display: flex;
  flex-direction: row;
  gap: 8px;

  // to be removed later
  color: #000716;
  font-family: "Amazon Ember";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.bubble {
  &.chat-bubble-bg-transparent {
    background-color: transparent;
  }

  &.chat-bubble-bg-grey {
    background-color: #f2f3f3;
  }
}

.avatar {
  padding-block-start: 8px;
  padding-block-end: 8px;
}

.content-container {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &.has-loading-bar {
    padding-bottom: 0;
    gap: 9px; // todo: confirm if 9px is okay, needed to align the loadig bar with the bottom border of bubble
  }
}

.inline-actions {
  /* Used for testing */
}
