/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/

.support-prompt-container {
  margin-inline-start: 36px;
}

.container {
  max-width: 1000px;
}

.placeholder {
  block-size: 150px;
}

.dimmed-text {
  opacity: 0.6;
}
