/*
 Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 SPDX-License-Identifier: Apache-2.0
*/
@use "../../node_modules/@cloudscape-design/design-tokens/index.scss" as awsui;
@use "../internal/shared" as shared;

.root {
  @include shared.styles-reset;

  display: flex;
  flex-wrap: wrap;
  gap: awsui.$space-scaled-xs;

  &.vertical {
    flex-direction: column;
  }
}

.support-prompt {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  gap: awsui.$space-scaled-xs;

  font-family: awsui.$font-family-base;
  font-size: awsui.$font-size-body-m;
  line-height: awsui.$line-height-heading-m;
  text-align: start;

  padding-block: awsui.$space-scaled-xs;
  padding-inline: awsui.$space-static-s;

  color: awsui.$color-text-button-normal-default;
  background: awsui.$color-background-button-normal-default;

  border-block: 1px solid awsui.$color-border-button-normal-default;
  border-inline: 1px solid awsui.$color-border-button-normal-default;
  border-start-start-radius: awsui.$space-static-xs;
  border-start-end-radius: awsui.$space-static-xs;
  border-end-start-radius: awsui.$space-static-xs;
  border-end-end-radius: awsui.$space-static-xs;

  inline-size: fit-content;

  &:hover {
    color: awsui.$color-text-button-normal-hover;
    background: awsui.$color-background-button-normal-hover;
    border-color: awsui.$color-border-button-normal-hover;
  }

  &:active {
    color: awsui.$color-text-button-normal-active;
    background: awsui.$color-background-button-normal-active;
    border-color: awsui.$color-border-button-normal-active;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    @include shared.focus-highlight(6px, 6px);
  }
}

.support-prompt-icon {
  display: inline-flex;
  flex-shrink: 0;

  &.icon-align-center {
    align-self: center;
  }

  &.icon-align-start {
    align-self: flex-start;
  }

  &.icon-align-end {
    align-self: flex-end;
  }
}

.support-prompt-text {
  display: inline-flex;
}
